<div id="<%= dom_id push_notification %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= push_notification.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Body:</strong>
    <%= push_notification.body %>
  </p>

</div>
