<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing push notification</h1>

  <%= render "form", push_notification: @push_notification %>

  <%= link_to "Show this push notification", @push_notification, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to push notifications", push_notifications_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
